html {
    font-size: 16px;
}

body {
    background-color: #d5d5d5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
    background-color: white;
}

section {

}

article {
    padding: 1em 2em;
}

.row {
    display: flex;
}

.center-v {
    display: flex;
    align-items: center;
}

.center-h {
    display: flex;
    justify-content: center;
}

.center-t {
    text-align: center;
}

.center-vh, .center-hv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col {
    flex: 1;
    width: 100%;
}

.col-2 {
    flex: 2;
    width: 100%;
}

.col-3 {
    flex: 3;
    width: 100%;
}

.between {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 400px) {
  .row {
    display: block;
  }
    .betweeen {
        flex-wrap: wrap;
    }
    .nav-bar ul {
        padding: 0;
    }


}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin: 0.5em 0;
}

p b {
  font-weight: 500;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.dark-bg {
    background-color: #232323;
    color: white;
}

.light-bg {
    background-color: white;
    color: #232323;
}

.nav-bar ul {
}

.nav-bar li {
    list-style-type: none;
    margin-right: 1.5em;
}

.nav-bar i {
    margin-right: .2em;
}

img {
    max-width: 100%;
}

.box {
    background-color: #0074D9;
    margin: 0.1em;
    overflow: auto;
}

.jumbo-bg {
    background-image: url("../img/global/jumbo-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.car-bg h1 {
    margin: 0;
}

.box-content {
    position: relative;
}

.box-content img {
    position: relative;
    transition: opacity .5s ease-out;
    display: block;
}

.box-content .box-image {
    position: relative;
    transition: opacity .5s ease-out;
}

.box-overlay:hover {
    opacity: 0.5;
}

.box-content p {
    margin-top: .1em;
}

.box-content h2 {
    margin-bottom: .1em;
}

.box-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: 1000;
    background: #222222;
    transition: opacity .5s ease-out;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  flex: 1;
}

.forum-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}

.forum-table th {
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    padding-left: .5em;
}

.forum-table tr:nth-child(1) {
    background: #232323;
    color: white;
}

.forum-table th:nth-child(1) {
    text-align: left;
}

.forum-table td:nth-child(1) {
    text-align: left;
}

.forum-table td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1em 2em;
    color: #fff;
    background: #f16436;
    border-radius: 8px;
}


a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}


.tags a {
  display: inline-block;
  position: relative;
  font-size: 0.8em;
  padding: 5px 10px;
  background: #777;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #fff;
  text-decoration: none;
}

.game-page .game-info {

}

.game-page .game-title {
  margin-bottom: 0;
}

.game-page .ratings {
  margin: 10px 0;
}

.game-page p {
  margin:0.5em 0;
}
